$icon_folder: "./img/folder.svg";

@mixin user_select_none {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;   
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none; 
}

@mixin icon($margin) {
    img.icon {
        height: 20px;
        margin: $margin;
    }
}

@mixin file {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    @include icon(0 10px 0 0);
    h4 {
        @include user_select_none();
        margin: 0;
    }
}

li {
    list-style: none;
}

ul.lists, div.lists {
    height: 0;
    transition: 1000ms;
    overflow: hidden
}

div.file h4 {
    @include user_select_none()
}


.file-block {
    border: 1px orange solid;
    div.file {
        @include file()
    }
    ul {
        margin: 0 0 0 30px;
        padding: 0;
        li {
            display: flex;
            margin: 10px 0;
            cursor: pointer;
            @include icon(0 10px 0 0);
            p {
                margin: 0;
                -webkit-touch-callout: none; /* iOS Safari */
                -webkit-user-select: none;   /* Chrome/Safari/Opera */
                -khtml-user-select: none;    /* Konqueror */
                -moz-user-select: none;      /* Firefox */
                -ms-user-select: none;       /* Internet Explorer/Edge */
                user-select: none;
            }
            &.not-list {
                cursor: default;
            }
            input[type=text] {
                height: 14px;
            }
        }
    }
}