
.todo {
    display: flex;
    justify-content: space-between;
    .control {
        display: flex;
        width: 32px;
    }
    img {
        width: 16px;
        cursor: pointer;
    }
}

.edit-window {
    background-color: white;
    border: black 1px solid;
    position: fixed;
    margin:auto;
    width: 500px;
    height: 100px;
    margin: 5% auto; 
    left: 0;
    right: 0;
    .header {
        .icon {
            cursor: pointer;
            img {
                width: 20px;
            }
        }
    }
}

